<%- include('include/head.ejs') %>
<style>
   body {
      background-color: rgb(15, 24, 51);
   }

   div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
</style>

<div>
   <h1 class="text-3xl text-white">404 - Page Not Found</h1>
</div>

<%- include('include/foot.ejs') %>
